* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  height: auto;
  background-attachment: fixed;
  background-color: #98C9A3;
}



/*----------------Start-page----------------*/

.container {
  /*Tillhör även skillpage*/
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.page-header {
  font-size: 5rem;
  margin-bottom: 0%;
  font-family: 'Syne', sans-serif;
  text-shadow: 1px 1px 1px rgb(224, 221, 221);
}

.intro-text-1 {
  font-size: 2rem;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Syne', sans-serif;
}

.intro-text-2 {
  font-size: 2rem;
  margin-top: 5%;
  font-family: 'Syne', sans-serif;
  font-weight: 300;

}

.button-container {
  display: block;
  margin-top: 22rem;
}


.fun-butt {
  font-size: 2rem;
  border-radius: 15px;
  padding: 3%;
  background-color: #BFD8BD;
  color: white;
  margin-left: 25%;
  font-family: 'Syne', sans-serif;
  box-shadow: 3px 3px 5px rgb(143, 129, 129);
}

.right-side {
  display: flex;
  flex-direction: column;
}

.menu {
  position: fixed;
  font-size: 1.5rem;
  align-self: center;
  list-style: none;
  font-family: 'Syne', sans-serif;
}


.yellow-circle {
  background-color: #EFD075;
  border-radius: 50%;
  margin-top: 22rem;
  /* box-shadow: 0 0 20px #EFD075, 0 0 30px #EFD075, 0 0 40px #EFD075, 0 0 50px white, 0 0 60px white; */
}

a {
  text-decoration: none;
}

.nav-aboutme:hover,
.nav-index:hover,
.nav-cv:hover,
.nav-project:hover,
.nav-cv:hover,
.nav-skills:hover,
.nav-contact:hover {

  background-color: #fdf5e6;
  border-radius: 5px;
}

.nav-line {
  border: 1px white solid;
  border-top: none;
  border-right: none;
  border-left: none;
}


/*------- Projectpage----------- */
.project-container {
  color: white;
  margin: 5%;
  height: auto;
  background-attachment: fixed;
  background-color: #98C9A3;

}



.undrekontainer {
  display: flex;
  background-color: #BFD8BD;
  border-radius: 15px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.projektbox {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.intro-text-1-skills,
.intro-text-1-project {
  font-size: 2rem;
  margin-top: 5%;
  font-family: 'Syne', sans-serif;
  font-weight: 300;
}

.card {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  width: 280px;
  background-color: white;
  border-radius: 15px;
  margin: 3em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-text-header {
  font-family: 'Nunito', sans-serif;
}

.card-text {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;

}

.git-link-1 {
  display: flex;
  width: 280px;
  height: 122px;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: 1px black solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-family: 'Nunito', sans-serif;
}

.line-content {
  display: flex;
  align-items: center;
}


/*----------- skillpage------------ */
.skill-container-big {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-container-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

.skill-container-smallest {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.skill-box {
  height: 150px;
  width: 300px;
  color: white;
  border: 1.5px whitesmoke solid;
  border-bottom: none;
}

.skill-box-line {
  background-color: white;
  width: 1.5px;
  height: 200px;
}


/* -----------cv-page-------------- */

.page-header-cv {
  font-size: 5rem;
  margin-bottom: 0%;
  font-family: 'Syne', sans-serif;
  text-shadow: 1px 1px 1px rgb(224, 221, 221);
  margin-left: 5%;
  margin-top: 5%;
}

.right-side-cv {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.work-exp-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.work-exp-1 {
  margin: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.duties-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.education-start {
  display: flex;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.education-1 {
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-text,
.about-me {
  margin-bottom: 0%;
}

.about-me-text {
  margin-top: 0%;
}

.working-exp-1 {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.cv-container-1 {
  display: flex;
  margin-top: 10%;
}

.education-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin-left: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.edu {
  margin: 0%;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ----------Icons---------- */

.figmaikon,
.cssikon,
.javascriptikon,
.htmlikon {
  height: 5rem;
  width: 5rem;
  margin: 0%;
  filter: drop-shadow(5px 5px 10px rgb(87, 84, 84));
}

.project-icon {
  height: 40%;
  margin: 15px;
}

.linkedinicon,
.phoneicon,
.mailicon {
  width: 3rem;
}

.eduicon {
  height: 2rem;
  width: 2rem;
  margin-right: 5%;
  align-self: center;
}

.workicon {
  height: 2rem;
  width: 2rem;
  margin-right: 5%;
  align-self: center;
}

.work-intro {
  display: flex;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gh-icon {
  width: 3rem;
  height: 1rem;
  background-color: black;
  filter: drop-shadow(1px 2px 2px rgb(87, 84, 84));

}

/*---------- pictures--------- */

.first-pic {
  width: 100%;
}

.card-picture {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-picture {
  width: 50%;
  min-height: 200px;
}

/* -------- contactpage -----------*/

.contact-header {
  font-size: 5rem;
  margin-bottom: 5%;
  font-family: 'Syne', sans-serif;
  text-shadow: 1px 1px 1px rgb(224, 221, 221);
}

.contact-box-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-size: 1rem;
  margin: 1rem;
  margin-right: 15rem;
  margin-left: 5rem;
}

.contact-container {
  display: flex;
}


.phone-box,
.linkedin-box,
.mail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;

}

/* -------- Fun-button -----------*/

.popup {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #EFD075 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

}

.popup:target {
  opacity: 1;
  pointer-events: all;

}

.popup-inner {
  color: black;
  background-color: #fdf5e6;
  padding: 32px 16px;
  max-width: 790px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px #EFD075 0.2;

}

.fun-butt-close {
  background-color: #fffff0;
  padding: 8px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-picture {
    width: 50%;
    width: 200px;
    margin-left: 15%;
  }

  .fun-butt {
    font-size: 1rem;
  }


  .page-header-cv,
  .contact-header,
  .page-header {
    font-size: 3rem;

  }

  .working-exp-1 {
    padding-left: 0%;
    padding-top: 20rem;

  }


  .cv-container-1 {
    flex-direction: column;

  }


  .intro-text-1-skills,
  .intro-text-2,
  .intro-text-1-project,
  .menu {
    font-size: 1rem;
  }


  .intro-text-1 {
    font-size: 1.3rem;
  }

}